@using DanderiNetwork.Core.Application.ViewModels.Post
@using DanderiNetwork.Core.Application.ViewModels.Comment
@model PostViewModel
@{
    ViewData["Title"] = "Post";
}

<div class="container">

    <div class="row row-cols-1">

        <div class="d-flex justify-content-center">

            <div class="col-6 col-md-8 col-sm-8">

                <div class="col-12 mb-4" id="hola">

                    <div class="card homeCard d-flex justify-content-center align-items-center py-2">

                        <div class="card-body col-10">

                            <div class="col-12 d-flex mb-4">

                                <div class="col-1 me-3 d-flex justify-content-end">
                                    <img src="@Model.ImageURL" alt="" width="40" height="40" class="rounded-circle">
                                </div>

                                <div class="col-11">

                                    <div class="d-flex justify-content-between">

                                        <div class="col-11 postText">
                                            <div class="d-flex gap-2">
                                                <p class="mb-0 fw-medium">@Model.Name @Model.LastName</p>
                                                <p class="text-muted mb-0">@@@Model.UserName</p>
                                            </div>
                                            <p class="small text-secondary">@Model.Created</p>
                                        </div>
                                        <div class="col-1 d-flex justify-content-end">
                                            <div class="dropdown">
                                                <a href="#" class="d-flex align-items-center text-white text-decoration-none " id="dropdownOptions" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                                                    </svg>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-dark text-small rounded-3 dropdownOption" aria-labelledby="dropdownOptions">
                                                    <li>
                                                        <a class="dropdown-item text-white small d-flex align-items-center gap-2" href="#">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                            </svg>
                                                            Edit
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-danger small d-flex align-items-center gap-2" href="#">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                                            </svg>
                                                            Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div>
                                        @if (Model.ImageURL == null && Model.VideoUrl == null)
                                        {
                                            <p class="postText"> <span class="fw-medium">@Model.UserName</span> @Model.Caption</p>
                                        }
                                        else
                                        {
                                            @if (Model.ImageURL == null)
                                            {
                                                <iframe class="w-100 rounded-1" height="315" src="@Model.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                            }
                                            else if (Model.VideoUrl == null)
                                            {
                                                <img src="@Model.ImageURL" class="object-fit-cover w-100 rounded-1" alt="Image Post" />
                                            }
                                            <p class="postText mt-3"> <span class="fw-medium">@Model.UserName </span> @Model.Caption</p>
                                        }
                                    </div>

                                    <div class=" d-flex justify-content-center">

                                        <div class="col-12 d-flex justify-content-between">



                                            <form method="post" class="col-10 collapse" id="commentForm" asp-controller="Home" asp-action="Replies">
                                                
                                                <div class="mb-4 d-flex gap-3 align-items-center">
                                                    <div class="col-12">
                                                        <textarea class="form-control inputCustomizeHome postText" for="Content" name="Content" id="Content" placeholder="Add a comment..." style="height: 20px"></textarea>
                                                        <span class="text-danger postText"></span>
                                                        <input type="hidden" for="PostID" name="PostID" value="@Model.ID" class="form-control" />
                                                    </div>

                                                    <div class="col-2 d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-sm w-100 rounded-5 btn-light loginBTN">Post</button>
                                                    </div>
                                                </div>

                                            </form>

                                        </div>

                                    </div>

                                    <div class="col-12 d-flex justify-content-between">

                                        <a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#replies" aria-expanded="false">
                                            See @Model.CommentList.Count comments
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                            </svg>
                                        </a>

                                        <a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#commentForm">Reply</a>
                                    </div>

                                </div>

                            </div>

                            <div class="collapse" id="replies">

                                @if(Model.CommentList.Count != 0)
                                {
                                    foreach(CommentViewModel maincoment in  Model.CommentList)
                                    {
                                        string openForm = $"{maincoment.ID}CommentForm";
                                        string principalCommentsReplies = $"{maincoment.ID}commentReply";

                                        @* Comentario principal *@
                                        <div class="col-12 d-flex justify-content-end mt-4">

                                            <div class="col-11 d-flex">

                                                <div class="col-1 me-3 d-flex justify-content-end">
                                                    <img src="https://img.maspormas.com/2015/12/2-Chihuahua-1160x1160.jpeg" alt="" width="40" height="40" class="rounded-circle justify-content-center">
                                                </div>

                                                <div class="col-11">

                                                    <div class="d-flex justify-content-between">
                                                        <div class="col-11 postText">
                                                            <div class="d-flex gap-2">
                                                                <p class="mb-0 fw-medium">@maincoment.Name @maincoment.LastName</p>
                                                                <p class="text-muted mb-0">@@@maincoment.UserName</p>
                                                            </div>
                                                            <p class="small text-secondary">@maincoment.Created</p>
                                                        </div>
                                                    </div>

                                                    <div>

                                                        <p class="postText">@maincoment.Content</p>

                                                    </div>


                                                    <div class="d-flex justify-content-center">

                                                        <div class="col-12 d-flex justify-content-between">

                                                            <form method="post" asp-controller="Home" asp-action="Replies" class="col-10 collapse" id="@openForm">
                                                                
                                                                <div class="mb-4 d-flex gap-3 align-items-center">
                                                                    <div class="col-12">
                                                                        <textarea for ="Content" name="Content" id="Content" class="form-control inputCustomizeHome postText" placeholder="Add a comment..." style="height: 20px"></textarea>
                                                                        <span class="text-danger postText"></span>
                                                                    </div>
                                                                    <input type="hidden" for="PostID" name="PostID" value="@maincoment.PostID" class="form-control" />
                                                                
                                                                    <input type="hidden" for="IdReference" name="IdReference" value="@maincoment.ID" class="form-control" />
                                                                    <input type="hidden" for="UserIDReplied" name="UserIDReplied" value="@maincoment.UserID" class="form-control" />
                                                                    <div class="col-2 d-flex justify-content-end">
                                                                    <button type="submit" class="btn btn-sm w-100 rounded-5 btn-light loginBTN">Post</button>
                                                                    </div>
                                                                </div>

                                                            </form>

                                                        </div>
                                                    </div>

                                                    <div class="col-12 d-flex justify-content-between">

                                                        <a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#@principalCommentsReplies" aria-expanded="false">
                                                            Replies (@maincoment.Replies.Count)
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                                            </svg>
                                                        </a>

                                                        <a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#@openForm">Reply</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        if (maincoment.Replies.Count != 0)
                                        {
                                            foreach (CommentViewModel replies in maincoment.Replies)
                                            {
                                                string openForm1 = $"{replies.ID}CommentForm";

                                                <div class="collapse" id="@principalCommentsReplies">

                                                    <div class="col-12 d-flex justify-content-end mt-3 collapse">

                                                        <div class="col-10 d-flex separation">

                                                            <div class="col-1 d-flex me-3 justify-content-end mt-3">
                                                                <img src="https://img.maspormas.com/2015/12/2-Chihuahua-1160x1160.jpeg" alt="" width="40" height="40" class="rounded-circle">
                                                            </div>

                                                            <div class="col-11 mt-3">

                                                                <div class="d-flex justify-content-between">
                                                                    <div class="col-11 postText">
                                                                        <div class="d-flex gap-2">
                                                                            <p class="mb-0 fw-medium">@replies.Name @replies.LastName</p>
                                                                            <p class="text-muted mb-0">@@@replies.UserNameReplied</p>
                                                                        </div>
                                                                        <p class="small text-secondary">@replies.Created</p>
                                                                    </div>
                                                                </div>

                                                                <div>

                                                                    <p class="postText"> <span class="fw-medium highlighted">@@@replies.UserName</span> @replies.Content</p>

                                                                </div>


                                                                <div class=" d-flex justify-content-center">
                                                                    <div class="col-12 d-flex justify-content-between">

                                                                        <form method="post" asp-controller="Home" asp-action="Replies" class="col-10 collapse" id="@openForm1">
                                                                            <div class="mb-4 d-flex gap-3 align-items-center">
                                                                                <div class="col-12">
                                                                                    <textarea for="Content" name="Content" id="Content" class="form-control inputCustomizeHome postText" placeholder="Add a comment..." style="height: 20px"></textarea>
                                                                                    <span class="text-danger postText"></span>
                                                                                </div>
                                                                                <input type="hidden" for="PostID" name="PostID" value="@maincoment.PostID" class="form-control" />
                                                                                <input type="hidden" for="UserID" name="UserID" value="@replies.UserID" class="form-control" />
                                                                                <input type="hidden" for="IdReference" name="IdReference" value="@maincoment.ID" class="form-control" />
                                                                                <input type="hidden" for="UserIDReplied" name="UserIDReplied" value="@replies.UserID" class="form-control" />
                                                                                <div class="col-2 d-flex justify-content-end">
                                                                                    <button type="submit" class="btn btn-sm w-100 rounded-5 btn-light loginBTN">Post</button>
                                                                                </div>
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>

                                                                <div class="col-12 d-flex justify-content-end">
                                                                    <a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#@openForm1">Reply</a>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            }
                                            
                                        } 
                                    }

                                    
                                }

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
