@using DanderiNetwork.Core.Application.ViewModels.Post
@using DanderiNetwork.Core.Application.ViewModels.User
@using Microsoft.AspNetCore.Http
@using DanderiNetwork.Core.Application.Helpers;
@inject IHttpContextAccessor httpContext;
@model List<PostViewModel>
@{
    ViewData["Title"] = "Home Page";
	UserViewModel UserLog = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}

<div class="container">

	<div class="row row-cols-1">

		<div class="d-flex justify-content-center">

			<div class="col-6 col-lg-7 col-md-9 col-sm-8">

				<div class="col-12 mb-4">

					<div class="card homeCard d-flex justify-content-center align-items-center py-2">

						<div class="card-body col-10 d-flex justify-content-center">

							<div class="col-1 d-flex justify-content-end me-3">
								<img src="@UserLog.ImageURL" alt="" width="40" height="40" class="rounded-circle object-fit-cover">
							</div>

							<form method="post" class="col-11" asp-controller="Home" asp-action="AddPost" enctype="multipart/form-data">

								<div class="mb-4 d-flex justify-content-center">
									<div class="col-12">
										<textarea for="Caption" id="Caption" name="Caption" class="form-control inputCustomizeHome" placeholder="What are u thinking, @UserLog.Name?!" style="height: 50px"></textarea>
										<span class="text-danger"></span>
									</div>
								</div>

								<div class="collapse" id="collapsePhotoInput">
									<div class="mb-3 d-flex justify-content-center">
										<div class="col-12">
											<label for="Photo" class="form-label fw-bold">Photo</label>
											<input type="file" class="form-control anotherDesign" id="Photo" name="Photo">
											<span class="text-danger"></span>
										</div>
									</div>
								</div>

								<div class="collapse" id="collapseVideoURLInput">
									<div class="mb-3 d-flex justify-content-center">
										<div class="col-12">
											<label for="VideoUrl" class="form-label fw-bold">Video URL</label>
											<div class="input-group has-validation">
												<span class="input-group-text leftInputDesign">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
														<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
														<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
													</svg>
												</span>
												<input type="text" class="form-control anotherDesign" id="VideoUrl" name="VideoUrl">
												<span class="text-danger"></span>
											</div>
										</div>
									</div>
								</div>

								<div class="d-flex justify-content-start">
									<div class="col-auto d-flex justify-content-end gap-4">

										<a href="#" class="highlighted text-decoration-none" id="photo" data-bs-toggle="collapse" data-bs-target="#collapsePhotoInput">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image-fill" viewBox="0 0 16 16">
												<path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0" />
											</svg>
										</a>

										<a href="#" class="highlighted text-decoration-none" id="video" data-bs-toggle="collapse" data-bs-target="#collapseVideoURLInput">
											<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z" />
											</svg>
										</a>
									</div>

								</div>

								<div class=" d-flex justify-content-center">
									<div class="col-12 d-flex justify-content-end">
										<button type="submit" class="btn w-25 rounded-5 btn-light loginBTN">Post</button>
									</div>
								</div>
							</form>

						</div>

					</div>


				</div>

				@if (Model.Count == 0)
				{
					<div class="col-12 mt-5">
						<div class="d-flex justify-content-center">
							<div>
								<div class="d-flex justify-content-center">
									<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#0ACE8C" class="bi bi-camera text-center" viewBox="0 0 16 16">
										<path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z" />
										<path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
									</svg>
								</div>
								<h2 class="fw-bold"> No posts yet </h2>
							</div>
						</div>
					</div>
				}
				@foreach (PostViewModel vm in Model)
				{
					string openForm = $"{vm.ID}CommentForm";

					<div class="col-12 mb-4">

						<div class="card homeCard d-flex justify-content-center align-items-center py-2">

							<div class="card-body col-10 d-flex justify-content-center">

								<div class="col-1 d-flex justify-content-end me-3">
									<img src="@vm.UserImageURL" alt="" width="40" height="40" class="rounded-circle object-fit-cover">
								</div>

								<div class="col-11">
									<div class="d-flex justify-content-between">
										<div class="col-11 postText">
											<div class="d-flex gap-2">
												<p class="mb-0 fw-medium">@vm.Name @vm.LastName</p>
												<p class="text-muted mb-0">@@@vm.UserName</p>
											</div>
											<p class="small text-secondary">@vm.Created</p>
										</div>
										<div class="col-1 d-flex justify-content-end">
											<div class="dropdown">
												<a href="#" class="d-flex align-items-center text-white text-decoration-none " id="dropdownOptions" data-bs-toggle="dropdown" aria-expanded="false">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
														<path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
													</svg>
												</a>
												<ul class="dropdown-menu dropdown-menu-dark text-small rounded-3 dropdownOption" aria-labelledby="dropdownOptions">
													<li>
														<a class="dropdown-item text-white small d-flex align-items-center gap-2" asp-controller="Home" asp-action="EditPost" asp-route-id="@vm.ID">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
																<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
																<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
															</svg>
															Edit
														</a>
													</li>
													<li>
														<a class="dropdown-item text-danger small d-flex align-items-center gap-2" href="#" data-bs-toggle="modal" data-bs-target="#deletePost">
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
																<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
															</svg>
															Delete
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>

									<div>

										@if (vm.ImageURL == null && vm.VideoUrl == null)
										{
											<p class="postText"> <span class="fw-medium">@vm.UserName</span> @vm.Caption</p>
										}
										else
										{
											@if (vm.ImageURL == null)
											{
												<iframe class="w-100 rounded-1" height="315" src="@vm.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
											}
											else if (vm.VideoUrl == null)
											{
												<img src="@vm.ImageURL" class="object-fit-cover w-100 rounded-1" alt="Image Post" />
											}
											<p class="postText mt-3"> <span class="fw-medium">@vm.UserName </span> @vm.Caption</p>
										}

									</div>

									<!-- Modals -->
									<!-- Modal - Edit Post -->
									<div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="modal-tittle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content loginCard">
												<div class="modal-header border-0">
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<h1 class="modal-title w-100 text-center fs-5 highlighted fw-bold mb-3" id="modal-tittle">Edit post</h1>

													<form method="post">
														<div class="mb-4 d-flex justify-content-center">
															<div class="col-8">
																<div class="col-12 mb-3">
																	<label for="username" class="form-label fw-bold">Username</label>
																	<input type="text" class="form-control inputCustomize" id="username" name="username">
																	<span class="text-danger"></span>
																</div>

																<div class="col-12 mb-3">
																	<label for="Photo" class="form-label fw-bold">Photo</label>
																	<input type="file" class="form-control anotherDesign" id="Photo" name="Photo">
																	<span class="text-danger"></span>
																</div>

																<div class="col-12">
																	<label for="username" class="form-label fw-bold">Video URL</label>
																	<div class="input-group has-validation">
																		<span class="input-group-text leftInputDesign">
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
																				<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"></path>
																				<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"></path>
																			</svg>
																		</span>
																		<input type="text" class="form-control anotherDesign" id="username">
																		<span class="text-danger"></span>
																	</div>
																</div>

															</div>
														</div>

														<div class="d-flex justify-content-center">
															<div class="col-8">
																<button type="submit" class="btn btn-light w-100 loginBTN">Save</button>
															</div>
														</div>
													</form>
												</div>
												<div class="modal-footer border-0">
												</div>
											</div>
										</div>
									</div>

									<!-- Modal - Delete Post -->
									<div class="modal fade p-4 py-md-5" tabindex="-1" role="dialog" id="deletePost" data-bs-backdrop="static">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content rounded-3 shadow darki">
												<div class="modal-body p-4 text-center">
													<h5 class="mb-3 fw-bold">Delete this post?</h5>
													<p class="mb-0">You can always change your mind and go back.</p>
												</div>
												<div class="modal-footer flex-nowrap p-0">
													<button type="button" class="btn btn-lg btn-link hightlightedBTN fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end"><strong>Yes, enable</strong></button>
													<button type="button" class="btn btn-lg btn-link hightlightedBTN fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">No thanks</button>
												</div>
											</div>
										</div>
									</div>

									<div class=" d-flex justify-content-center">

										<div class="col-12 d-flex justify-content-between">

											<form method="post" asp-controller="Home" asp-action="AddCommentToPost" class="col-10 collapse" id="@openForm">
												<div class="mb-4 d-flex gap-3 align-items-center">
													<div class="col-12">
														<textarea for="Content" name="Content" id="Content" class="form-control inputCustomizeHome postText" placeholder="Add a comment..." style="height: 20px"></textarea>
														<span class="text-danger postText"></span>
													</div>
													<input type="hidden" for="PostID" name="PostID" value="@vm.ID" class="form-control" />

													<div class="col-2 d-flex justify-content-end">
														<button type="submit" class="btn btn-sm w-100 rounded-5 btn-light loginBTN">Post</button>
													</div>
												</div>

											</form>

										</div>
									</div>

									<div class="col-12 d-flex justify-content-between">
										<a class="highlighted text-decoration-none postText" asp-controller="Home" asp-route-ID="@vm.ID" asp-action="Comments">
											View @vm.CommentList.Count comments
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
												<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
											</svg>
										</a>
										<a href="#" class="highlighted text-decoration-none postText" data-bs-toggle="collapse" data-bs-target="#@openForm">Reply</a>
									</div>

								</div>

							</div>

						</div>


					</div>

				}

			</div>
		</div>
	</div>

</div>
