@using DanderiNetwork.Core.Application.ViewModels.User
@using DanderiNetwork.Core.Application.Helpers;
@inject IHttpContextAccessor httpContext;
@{
	UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DanderiNetworkApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/DanderiNetworkApp.styles.css" asp-append-version="true" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body data-bs-theme="dark" class="mb-0">

	<div class="container-fluid">
		<div class="row">

			@if (User != null)
			{
				<div class="col-2 vh-100">

					<div class="d-flex flex-column col-auto flex-shrink-0 text-white vh-100 menu-fixed">

						<div class="d-flex align-items-center justify-content-center mt-3 mb-5">

							<a asp-controller="Home" asp-action="Index" class="d-inline-grid justify-content-center text-decoration-none text-white">
								<div class="d-flex align-items-center justify-content-center">
									<img src="/images/app/Logo2.png" class="logoimg" alt="logo">
								</div>
								<p class="fs-5 mt-1 text-center highlighted fw-bold">Danderi Network</p>
							</a>

						</div>

						<div class="flex-grow-1">
							<ul class="nav nav-pills flex-column fs-6">
								<li class="nav-item mt-4 navitems">
									<a asp-controller="Home" asp-action="Index" class="nav-link text-white d-flex gap-2 align-items-center">
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill ms-4 me-2" viewBox="0 0 16 16">
											<path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
										</svg>
										<p class="mb-0">Home</p>
									</a>
								</li>
								<li class="nav-item mt-4 navitems">
									<a asp-controller="Home" asp-action="Privacy" class="nav-link text-white d-flex gap-2 align-items-center">
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-people-fill ms-4 me-2" viewBox="0 0 16 16">
											<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
										</svg>
										<p class="mb-0">Friends</p>
									</a>
								</li>
								<li class="nav-item mt-4 navitems">
									<a href="#" class="nav-link text-white d-flex gap-2 align-items-center">
										<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill ms-4 me-2" viewBox="0 0 16 16">
											<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
										</svg>
										@* <img src="https://github.com/mdo.png" alt="" width="25" height="25" class="rounded-circle me-2"> *@
										<p class="mb-0">Profile</p>
									</a>
								</li>
							</ul>
						</div>

						<div class="dropdown">
							<a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
								<img src="https://img.maspormas.com/2015/12/2-Chihuahua-1160x1160.jpeg" alt="" width="32" height="32" class="rounded-circle me-2">
								<div>
									<strong>Lara Figuereo C.</strong>
									<p class="mb-0 highlighted">@@LaraF</p>
								</div>
							</a>
							<ul class="dropdown-menu dropdown-menu-dark text-small" aria-labelledby="dropdownUser1">
								<li><a class="dropdown-item text-white" href="#">Settings</a></li>
								<li><a class="dropdown-item text-white" href="#">Profile</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item text-danger" asp-controller="User" asp-action="LogOut">Sign out</a></li>
							</ul>
						</div>
					</div>
				
				</div>
			}
			<div class="col-8 container mb-5">

				<main role="main" class="mt-5 main-content">
					<div class="mb-3">
						@**@
						@RenderBody()
					</div>
				</main>

			</div>

			<footer class="footer mt-auto py-3 text-muted">
				@*Le quite la clase: my-4*@
				<div class="container flex-wrap d-flex justify-content-center align-items-center">
					<ul class="nav gap-4 justify-content-center list-unstyled d-flex policyTextSignUp">
						<li>About</li>
						<li>Blog</li>
						<li>Jobs</li>
						<li>Help</li>
						<li>Privacy</li>
						<li>Terms</li>
						<li>Locations</li>
						<li>English</li>
						<li>&copy; @DateTime.Now.Year - DanderiNetwork Corp.</li>
					</ul>
				</div>
			</footer>

			@* <div class="col-2"></div> *@
			@* <div class="@(User == null ? "col-1" : "col-2")"></div> *@
			<div class="@(User == null ? "" : "col-2")"></div>

		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
